@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 4;
}
.navbar .logo {
    color: white;
    letter-spacing: 3px;
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.navbar .logo:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Section accueil */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("/images/background-1.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* Section A propos */

#about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 28%;
    margin-right: 5%;
    margin-left: 5%;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#intro h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
#intro p {
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-top: 20px;
}

.btn_cv {
    font-size: 1.3em;
    color: black;
    padding: 20px;
    display: inline-block;
    text-align: center;
    transition: 0.6s ease;
    width: 100%;
}

.btn_cv:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
    font-weight: bold;
}
/* Section Portfolio */

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Partie overlay du portfolio */
.content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: -10px;
    top: -10px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 50%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}
.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.content-details p {
    color: #fff;
    font-size: 1.2em;
}

.fadeIn-bottom {
    top: 80%;
}

/* Services section */
/* Service Contact */
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 50%;
    border: none;
    outline: none;
}

#msg {
    width: 40%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    width: 20%;
    padding: 10px;
    margin: 40px;
    border: none;
    outline: none;
    font-weight: bold;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.test-contact {
    display: flex;
    flex-wrap: wrap;
}
